.ipynb_checkpoints/
.venv/
.vscode/
__pycache__/
pip.conf

db/*.db
db/split_db
db/landmark_db
db/movie/*.mp4
db/inspection_*
db/verification_movie

temporarily_storage/*

movie/
split_movie/


test*

face vs handsの距離とframeの統計情報.ipynb
hands vs faceの距離とframeの統計情報.ipynb
NN接触判定3.ipynb
KMeansClustering.ipynb
KMeansClustering&RNN.ipynb
KMeansクラスタリング結果一覧.ipynb
FaceMeshに属性を付与.ipynb
前処理一覧.ipynb

sample.mp4
sample2.mp4
Logs/
DeepLearningStudy