.ipynb_checkpoints/
.venv/
.vscode/
__pycache__/
pip.conf

db/*.db
db/split_db
db/landmark_db
db/movie/*.mp4
db/inspection_*
db/verification_movie

temporarily_storage/*

movie/*
split_movie/*
faceTouch/project/*

test*
yt-dlp.exe

sample.mp4
sample2.mp4
Logs/
DeepLearningStudy
